.header {
  background-color: #1e88e5;
}

.header p {
  font-size: 25px;
  color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items:center;
  min-height: 60px;
}

.header__link {
  background-color: #46b980;
  color: #fff;
  transition: background-color .2s;
  display: inline-block;
  padding: .6em 1em;
  border: 0;
  border-radius: 2px;
  font-size: .7125em;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

.header__link:hover {
  background-color: #389466;
}

.header__link:active {
  background-color:#46b980;
}